

/************  CSS Admin **************/

.buttonAdmin {
    padding: 10px 30px; 
    border-radius: 10px;
    background: black; 
    color: #ffe6eb; 
    }

body 
{
    background-color:#fcf8f3;
}

h5{
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 50px;
}
.logo{
    width:150px;
}
.logo2{
    width:150px;
    display: block;
    margin-left: auto;
    margin-top:50px;
}
.site
{
    font-family: 'Poppins', sans-serif;
}
.text-logo
{
    font-family: 'Roboto Mono', monospace;
    color: black;
    text-shadow: 2px 2px #ffe6eb;
    font-size: 50px;
    padding: 40px 0px;
    text-align: center;
}

.nav
{
   margin-bottom: 40px;
}
.thumbnail img
{
    background: #ffe6eb;
}
.price
{
    background: #ffe2ff;
    box-shadow: 0 1px #481380;
    -moz-box-shadow: 0 1px #481380;
    -webkit-box-shadow: 0 1px #481380;
    color: black;
    position: absolute;
    right: 6px;
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
    font-family: Bradley Hand, sans-serif;
}
.price:before 
{
    border: 4px solid transparent;
    border-bottom: 4px solid #7f78d2;
    border-left: 4px solid #7f78d2;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
}
.caption > h4
{
    color: #7f78d2;
    font-size: 18px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background: #fceafc;
    color: black;
    text-shadow: 1px 1px #fff;
}
.nav>li>a:focus, .nav>li>a:hover 
{
    color: black;
    background-color: #ffe2ff;
}
.nav>li>a
{
    color: black;
    font-size: 18px;
    text-shadow: 1px 1px #ffe2ff;
}
.btn-order
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffe2ff;
    background-color:black;
    text-decoration: none;
    text-shadow: 1px 1px black;
}
.btn-order:hover, .btn-order:focus
{
    color: black;
    background-color: #fff;
    text-shadow: 1px 1px #ffe2ff;
}
.paragraphe{
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
}

/*  ADMIN     */

.admin
{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}
.help-inline
{
    color: #c06c84;
}



